<?xml version="1.0" encoding="UTF-8" ?>
<!-- Mybatis 공식 사이트의 config 내용으로 교체 -->
<!-- https://mybatis.org/mybatis-3/getting-started.html -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- Spring이 관리하기에 environments 내용 삭제
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  -->
  <typeAliases>
  	<typeAlias type="com.sds.movieadmin.domain.Admin" alias="Admin"/>
  	<typeAlias type="com.sds.movieadmin.domain.Movie" alias="Movie"/>
  </typeAliases>
  
  <mappers>
    <!-- <mapper resource="org/mybatis/example/BlogMapper.xml"/> -->
    <mapper resource="com/sds/movieadmin/mybatis/AdminMapper.xml"/>
    <mapper resource="com/sds/movieadmin/mybatis/MovieMapper.xml"/>
  </mappers>
</configuration>