<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AsyncBoard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  	<!-- 글쓰기 처리 서블릿 매핑 -->
	<servlet>
		<servlet-name>registServlet</servlet-name>
		<servlet-class>com.sds.asyncboard.board.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registServlet</servlet-name>
		<url-pattern>/board/regist</url-pattern>
	</servlet-mapping>
	
	<!-- 글 목록 처리 서블릿 매핑 -->
	<servlet>
		<servlet-name>listServlet</servlet-name>
		<servlet-class>com.sds.asyncboard.board.ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listServlet</servlet-name>
		<url-pattern>/board/list</url-pattern>
	</servlet-mapping>
	
	<!-- 글 상세보기 처리 서블릿 매핑 -->
	<servlet>
		<servlet-name>detailServlet</servlet-name>
		<servlet-class>com.sds.asyncboard.board.DetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detailServlet</servlet-name>
		<url-pattern>/board/detail</url-pattern>
	</servlet-mapping>
	
	<!-- 글 수정 서블릿 매핑 -->
	<servlet>
		<servlet-name>editServlet</servlet-name>
		<servlet-class>com.sds.asyncboard.board.EditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editServlet</servlet-name>
		<url-pattern>/board/edit</url-pattern>
	</servlet-mapping>
</web-app>